<section class="section">
  <div class="section-inner">
    <h2 class="section-title">{{ 'home.whatWeDo' | translate }}</h2>
    <div class="row g-4 mt-2">
      <div class="col-md-6 col-lg-4">
        <div class="tile">
          <div class="tile-icon"><i class="fa-solid fa-box"></i></div>
          <h3>{{ 'text.products' | translate }}</h3>
          <p>{{ 'text.productstext' | translate }}</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="tile">
          <div class="tile-icon"><i class="fa-solid fa-compass-drafting"></i></div>
          <h3>{{ 'text.design' | translate }}</h3>
          <p>{{ 'text.designtext' | translate }}</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="tile">
          <div class="tile-icon"><i class="fa-solid fa-clipboard-list"></i></div>
          <h3>{{ 'text.planing' | translate }}</h3>
          <p>{{ 'text.planingtext' | translate }}</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="tile">
          <div class="tile-icon"><i class="fa-solid fa-screwdriver-wrench"></i></div>
          <h3>{{ 'text.installation' | translate }}</h3>
          <p>{{ 'text.installationtext' | translate }}</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="tile">
          <div class="tile-icon"><i class="fa-solid fa-gears"></i></div>
          <h3>{{ 'text.maintrance' | translate }}</h3>
          <p>{{ 'text.maintrancetext' | translate }}</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="tile">
          <div class="tile-icon"><i class="fa-solid fa-arrows-rotate"></i></div>
          <h3>{{ 'text.modernization' | translate }}</h3>
          <p>{{ 'text.modernizationtext' | translate }}</p>
        </div>
      </div>
    </div>

    <div class="video">
      <iframe
        src="https://www.youtube.com/embed/a_4hVIWaa_8"
        title="Ecolift"
        loading="lazy"
        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</section>
