<div class="textabout">
    <div
      class="textabout-left"
      data-aos="fade-right"
      data-aos-once="true"
      data-aos-duration="5000"
    >
      <div class="firsttextleft">
        <h2>{{'text.products' | translate}}</h2>
        <p>
          {{'text.productstext' | translate}}
        </p>
      </div>
      <div class="firsttextleft">
        <h2>{{'text.design' | translate}}</h2>
        <p>
          {{'text.designtext' | translate}}
        </p>
      </div>
      <div class="firsttextleft">
        <h2>{{'text.planing' | translate}}</h2>
        <p>
          {{'text.planingtext' | translate}}
        </p>
      </div>
    </div>
    <div class="textabout-centre">
      <iframe
        width="500"
        height="300"
        src="https://www.youtube.com/embed/a_4hVIWaa_8?autoplay=1"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
    <div
      class="textabout-right"
      data-aos="fade-left"
      data-aos-once="true"
      data-aos-duration="5000"
    >
      <div class="firsttextleft">
        <h2>{{'text.installation' | translate}}</h2>
        <p>
          {{'text.installationtext' | translate}}
        </p>
      </div>
      <div class="firsttextleft">
        <h2>{{'text.maintrance' | translate}}</h2>
        <p>
          {{'text.maintrancetext' | translate}}
        </p>
      </div>
      <div class="firsttextleft">
        <h2>{{'text.modernization' | translate}}</h2>
        <p>
          {{'text.modernizationtext' | translate}}
        </p>
      </div>
    </div>
  </div>