 
 
 
 /* Background Gradient */
 .service-description {
  display: flex;
  color: black;
  padding: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  justify-content: center;
  align-items: center;
  
  
}

/* Section Title */
.service-description h2 {
  font-size: 32px;
  color: black; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  
  
  
}

/* List Items */
.service-text ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.service-text li {
  font-size: 24px;
  
}

/* Hover Effect for List Items */


/* Elevator Icon */
.service-text ul::before {
  content: "🛗"; /* Elevator icon before each list item */
  
  font-size: 30px;
  vertical-align: middle;
}

/* Optional: Text Shadow */
.service-text h2 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.service-text {
  display: flex;
  flex-direction: column;
  text-align: center;
}


.service-text-text {
  display: flex;
  justify-content: center;
  align-items: center;
  
}


@media (max-width: 767px) {

  
  
  .service-description h2 {
    font-size: 20px; /* Decrease the font size for headings */
  }
  
  .service-text li {
    font-size: 16px; /* Decrease the font size for list items */
  }
  
}