<div class="service-description" >
  <div class="service-text">
    <div class="service-text-main-title">

      <h2>{{"text.Services" | translate}}</h2>
    </div>
    <div class="service-text-text">

      <ul>
        <li>{{"text.Consulting" | translate}}</li>
        <li>{{"text.equipment" | translate}}</li>
        <li>{{"text.commissioning" | translate}}</li>
        <li>{{"text.decor" | translate}}</li>
        
      </ul>
    </div>
    <div class="service-text-title">

      <h3>{{"text.AdditionalServicesheader" | translate}}</h3>
    </div>
    <div class="service-text-text">

      <ul>
        <li>{{"text.AdditionalServices" | translate}}</li>
        <li>{{"text.Design-production" | translate}}</li>
        <li>{{"text.service-design" | translate}}</li>
        <li>{{"text.service-Technical" | translate}}</li>
        <li>{{"text.service-Production" | translate}}</li>
        <li>{{"text.service-Logistics" | translate}}</li>
        <li>{{"text.service-Installation" | translate}}</li>
        <li>{{"text.service-Handing" | translate}}</li>
        <li>{{"text.service-Tailor" | translate}}</li>
        <li>{{"text.service-Maintenance" | translate}}</li>
        <li>{{"text.service-Modernization" | translate}}</li>
        <li>{{"text.service-Spare" | translate}}</li>
      </ul>
    </div>
    
  </div>
</div>