<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"
      ><img
        class="ecoliftlogo"
        src="assets/img/photo_2023-10-26_20-04-05.jpg"
        alt="55"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">{{
            "navbar.home" | translate
          }}</a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            href="http://www.sunyearad.com/2019-08-20%20SCHNEIDER%20CABIN%20VR%20CATEGORY/SCHNEIDER_test.html?from=groupmessage&isappinstalled=0"
            target="_blank"
            aria-expanded="false"
          >
            {{ "navbar.elevators" | translate }}
          </a>
          <ul class="dropdown-menu dropdown-menu-start">
            <li>
              <a
                class="dropdown-item"
                routerLink="cardpassenger"
                (click)="closeDropdown()"
                >{{ "text.Passanger" | translate }}</a
              >
            </li>
            <hr />
            <li>
              <a
                class="dropdown-item"
                routerLink="panoramic"
                (click)="closeDropdown()"
                >{{ "text.Panoramic" | translate }}</a
              >
            </li>
            <hr />
            <li>
              <a class="dropdown-item" routerLink="" (click)="closeDropdown()"
                >{{ "text.Bungalow" | translate }}
              </a>
            </li>
            <hr />
            <li>
              <a class="dropdown-item" href="#" (click)="closeDropdown()"
                >{{ "text.Freight" | translate }}
              </a>
            </li>
            <hr />
            <li>
              <a class="dropdown-item" href="#" (click)="closeDropdown()"
                >{{ "text.Hospital" | translate }}
              </a>
            </li>
            <hr />
            <li>
              <a class="dropdown-item" href="#" (click)="closeDropdown()"
                >{{ "text.Industrial" | translate }}
              </a>
            </li>
            <hr />
            <li>
              <a
                class="dropdown-item"
                routerLink="Dumbwaiters"
                (click)="closeDropdown()"
                >{{ "text.Dumbwaiters" | translate }}</a
              >
            </li>
            <hr />
            <li>
              <a class="dropdown-item" href="#" (click)="closeDropdown()"
                >{{ "text.Lifting" | translate }}
              </a>
            </li>
            <hr />
            <li>
              <a
                class="dropdown-item"
                routerLink="tailormade"
                (click)="closeDropdown()"
                >{{ "text.Tailormade" | translate }}
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/escolator"
            (click)="closeDropdown()"
            >{{ "navbar.escalators" | translate }}</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://alimak.com/ "
            target="_blank"
            (click)="closeDropdown()"
            >{{ "navbar.hoists" | translate }}</a
          >
        </li>
        <!--li class="nav-item">
          <a class="nav-link" routerLink="/adminpanel" (click)="closeDropdown()">admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/parts" (click)="closeDropdown()">parts</a>
        </li-->
        <li class="nav-item">
          <a class="nav-link" routerLink="/resources" routerLinkActive="active">
            {{ "navbar.documentary" | translate }}
          </a>
        </li>

        <li class="nav-item">
          <button class="get nav-link geta" (click)="scrollToContact()">
            {{ "navbar.getQuote" | translate }}
          </button>
        </li>

        <!-- Language dropdown -->
        <!-- Language dropdown with a default flag -->
        <li class="nav-item dropdown languagebar">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="languageDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <img
              src="../../assets/img/photo_2023-10-26_21-05-40.jpg"
              alt="Georgian"
              class="language-icon"
            />
          </a>
          <div
            class="dropdown-menu dropdown-menu-language"
            id="language-dropdown"
            aria-labelledby="languageDropdown"
          >
            <ul class="language-list">
              <li
                (click)="toggleLanguage('ka', $event)"
                class="language-option"
              >
                <img
                  src="../../assets/img/photo_2023-10-26_21-05-40.jpg"
                  alt="Georgian"
                  class="language-icon"
                />
              </li>
              <li
                (click)="toggleLanguage('en', $event)"
                class="language-option"
              >
                <img
                  src="../../assets/img/photo_2023-10-26_21-07-49.jpg"
                  alt="English"
                  class="language-icon"
                />
              </li>
              <li
                (click)="toggleLanguage('ru', $event)"
                class="language-option"
              >
                <img
                  src="../../assets/img/photo_2023-10-26_21-08-44.jpg"
                  alt="Russian"
                  class="language-icon"
                />
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
