<div class="why">
    <div class="whytext">
      <h3 class="h3">{{'text.why' | translate}}</h3>
      <br />
      <h6 class="h6">{{'text.quality' | translate}}</h6>
    </div>
    <div class="cards">
      <div
        class="cardleft"
        data-aos="fade-right"
        data-aos-offset="300"
        data-aos-once="true"
        data-aos-easing="ease-in-sine"
        data-aos-duration="5000"
      >
        <div class="card1 card">
          <h4 class="title">{{'text.transparency' | translate}}</h4>
          <h5 class="h5">
            {{'text.transparencytext' | translate}}
          </h5>
        </div>
        <div class="card2 card">
          <h4 class="title">{{'text.experience' | translate}}</h4>
          <h5 class="h5">
            {{'text.experiencetext' | translate}}
          </h5>
        </div>
      </div>
      <div class="middlecards">
        <div data-aos-offset="300"
        data-aos-once="true"
        data-aos-easing="ease-in-sine"
        data-aos-duration="5000" data-aos="flip-down" class="card-middle-main ">
         <h1>10</h1>
        </div>
        <div class="middle-little-cards">

          <div data-aos-offset="300"
          data-aos-once="true"
          data-aos-easing="ease-in-sine"
          data-aos-duration="5000" data-aos="flip-left" class="middle-card-first ">
            <h4 class="title middl-card-title">1</h4>
            <h5 class="h5 middle-card-text">{{"text.Performancewarranty" | translate}}</h5>
          </div>
          <div data-aos-offset="300"
          data-aos-once="true"
          data-aos-easing="ease-in-sine"
          data-aos-duration="500" data-aos="flip-left" class="middle-card-second ">
            <h4 class="title middl-card-title">2</h4>
            <h5 class="h5 middle-card-text">{{"text.productwarranty" | translate}}</h5>
          </div>
          <div data-aos-offset="300"
          data-aos-once="true"
          data-aos-easing="ease-in-sine"
          data-aos-duration="5000" data-aos="flip-left" class="middle-card-third ">
            <h4 class="title middl-card-title">10</h4>
            <h5 class="h5 middle-card-text">{{"text.Extendedwarranty" | translate}}</h5>
          </div>
        </div>
      </div>
      <div
        class="cardright"
        data-aos="fade-left"
        data-aos-offset="300"
        data-aos-once="true"
        data-aos-easing="ease-in-sine"
        data-aos-duration="5000"
      >
        <div class="card3 card">
          <h4 class="title">{{'text.adaptation' | translate}}</h4>
          <h5 class="h5">
            {{'text.adaptationtext' | translate}}
          </h5>
        </div>
        <div class="card4 card">
          <h4 class="title">{{'text.price' | translate}}</h4>
          <h5 class="h5">{{'text.pricetext' | translate}}</h5>
        </div>
      </div>
      
    </div>
  </div>