<section class="why section">
  <div class="section-inner">
    <h2 class="section-title">{{ 'text.why' | translate }}</h2>
    <p class="section-lead">{{ 'text.quality' | translate }}</p>

    <div class="stats">
      <div class="stat stat-main">
        <strong>10+</strong>
        <span>{{ 'home.years' | translate }}</span>
      </div>
      <div class="stat">
        <strong>1</strong>
        <span>{{ 'text.Performancewarranty' | translate }}</span>
      </div>
      <div class="stat">
        <strong>2</strong>
        <span>{{ 'text.productwarranty' | translate }}</span>
      </div>
      <div class="stat">
        <strong>10</strong>
        <span>{{ 'text.Extendedwarranty' | translate }}</span>
      </div>
    </div>

    <div class="row g-3 values">
      <div class="col-sm-6 col-lg-3">
        <div class="value">
          <i class="fa-solid fa-eye"></i>
          <h3>{{ 'text.transparency' | translate }}</h3>
          <p>{{ 'text.transparencytext' | translate }}</p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="value">
          <i class="fa-solid fa-award"></i>
          <h3>{{ 'text.experience' | translate }}</h3>
          <p>{{ 'text.experiencetext' | translate }}</p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="value">
          <i class="fa-solid fa-sliders"></i>
          <h3>{{ 'text.adaptation' | translate }}</h3>
          <p>{{ 'text.adaptationtext' | translate }}</p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="value">
          <i class="fa-solid fa-tag"></i>
          <h3>{{ 'text.price' | translate }}</h3>
          <p>{{ 'text.pricetext' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
