


html,
body {
    
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans Georgian', 'Open Sans', sans-serif;
    background-color: #ffffff;
    overflow-x: hidden;
    
}

@media (max-width: 767px){
h2, h3, h1, h6, h4, h5{
    overflow: hidden;
}
   
}


